.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
}

.photo-grid__list {
  margin: 0 auto;
  margin-bottom: 92px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__image {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .photo-grid {
    max-width: 720px;
  }

  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    max-width: 288px;
  }

  .photo-grid__list {
    grid-template-columns: 1fr;
    margin-bottom: 62px;
    gap: 12px;
  }
}
