.photo-grid {
  max-width: 1184px;
}

.photo-grid__list {
  margin: 0 auto;
  margin-bottom: 92px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__image {
  width: 100%;
}
